body{
  font-size: 12px;
}
.homelink,.hellolink,.formlink,.buttonlink,.timerlink{
  margin: 10px;
}
.formwrapper{
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
}
.timer{
  height: 40px;
  width: 400px;
  line-height: 40px;
  margin-top: 50px;
  border:1px solid #b8b8b8;
}

.basic{
  border: 1px solid #ff00ff;
  margin: 10px;
}

.innerDiv{
  margin: 10px
}

.countdown {
  padding: 20px;
  line-height: 24px;
  color: #3b3b3b;
  font-size: 15px;
}
p{
  padding: 0;
  margin: 0;
}
.title {
  vertical-align: middle;
  font-weight: bold;
  color: #808080;
  font-size: 18px;
  margin-bottom: 15px;
}
.ico {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: url('1.png') no-repeat;
}
.ico-countdown {
  width: 26px;
  height: 24px
}

.ico-countdown-gray {
  background-position: -60px -100px;
}

.nums{
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 16px;
  color: #db3652;
  font-size: 30px;
}

.nums b{
  text-align: center;
  line-height: 37px;
  width: 28px;
  display: inline-block;
  background: #db3652;
  color: #fff;
  font-size: 25px;
  margin-right: 2px;
  border-radius: 4px;
  font-weight: normal;
}

.goods-info{
  color: #808080;
  padding: 10px 20px;
  background: #fff;
  _zoom: 1;
}

.goodpic{
  margin-bottom: 10px;
}

.goodpic img{
  margin: 0 auto;
  display: block;
}

p{
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  line-height: 24px;
}

a{
  text-decoration: none;
}

.good-title a{
  color: #343434;
}

.good-period{
  margin-bottom: 10px;
}

.progressbar{
  display: block;
  width: 100%;
}

.progress-bar-wrap{
  position: relative;
  margin-bottom: 8px;
  height: 8px;
  overflow: hidden;
  background-position: 0 0;
  display: block;
}

.progress-bar-wrap, .progress-bar-bar{
  background-image: url('3.png');
  background-repeat: no-repeat;
}

.progress-bar-bar{
  position: absolute;
  height: 100%;
  background-position: 0 -8px;
}

.f-clear::before, .f-clear::after{
  content: '.';
  clear: both;
  font-size: 0;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.progressbar-txt li{
  float: left;
  width: 50%;
  line-height: 18px;
}

.progressbar-txt p b{
  color: #333;
  font-weight: normal;
}

.progressbar-txt strong{
  font-weight: normal;
  color: #ff9900;
}

.progressbar-txt-r{
  float: right;
  border: 0;
  text-align: right;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods-opr{
  margin-top: 17px;
  text-align: center;
}
.goods-opr .button{
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #dd344f;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none!important;
  outline: none;
  display: inline-block;
  font-weight: bold;
}
